
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC213 Todo</title>
</head>
<body>

<h1>Social todo app for cpsc213</h1>

{{#if errors}}
<div style="color:red" class="errors">
    {{errors}}
</div>
{{/if}}

{{#if currentUser}}
  <b><h2 class="welcome">Welcome {{currentUser.name}}!</h2></b>
  <div>
    <h4>Your Tasks</h4>
    {{#if tasks}}
        <ul class="tasks">
        {{#each tasks}}
          <li class="task">{{this.name}}</li>
          <form method="post" action="/tasks/{{this._id}}/delete">
            <input type="submit" name="delete" class="delete" value="delete">
          </form>
          <form method="post" action="/tasks/{{this._id}}/complete">
          <input type="submit" name="toggle" class="toggle" value="Mark complete">
          </form>
            noncomplete
            woooooot
        {{/each}}
        </ul>
    {{else}}
      No tasks to show!
    {{/if}}
  </div>
  <hr>
  <div>
      <h4>Add a new task</h4>
      <form class="createTask" action="/task/create" method="POST">
          <label for="name">Task name</label>
          <input name="name" type="text"><br>
          <label for="description">Task Description</label>
          <input name="description" type="text"><br>
          <!-- <label for="collaborator1">Collaborators</label> -->
          Collaborators<br>
          <input name="collaborator1" type="email"><br>
          <input name="collaborator2" type="email"><br>
          <input name="collaborator3" type="email"><br>
          <!-- <input name="collaborator1" id="email" type="text"><br>
          <input name="collaborator2" id="email" type="text"><br>
          <input name="collaborator3" id="email" type="text"><br> -->
          <input type="submit" class="create-task-submit">
      </form>
  </div>



  <footer>
  <a href="/user/logout" class="logout">Logout</a>
  </footer>
  </body>
  </html>


{{else}}
    <!-- No tasks to show! -->



<div>
    <form class="login" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" id="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password"  id="password" type="password"><br>
        <input type="submit"  class="log-in-submit">
    </form>
</div>

<div><hr></div>

<div>
    <form class="register" action="/user/register" method="POST" class="signup-form" style="display: block;">
      <input name="name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="passwordConfirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
    </form>
</div>


<footer>
    <a href="/user/logout" class="logout">Logout</a>
</footer>
</body>
</html>
{{/if}}
